.nav-bar {
    background-color: #fff8f2;
    box-shadow: 4px 5px 10px black;
    margin:0;
    padding:0;
    overflow:hidden;
    margin-top:5px;
    border-radius: 20px;
    margin-left:10px;
    margin-right:10px;

}
.nav-item {
    float:left;
}
.nav-link {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    margin-left:10px;
}

.user-name {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    margin-left:10px;
}

.nav-link:hover {
    background-color:red;
    overflow:hidden;
    transition: .70s;
}
.nav-image {
    border-radius: 50%;
    height :50px;
    width: 50px;
    float:left;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:5px;
}