.todo-header {
    font-size : 50px;
    border-bottom:1px solid red;
    margin-bottom:5px;
    font-family: 'Teko', sans-serif;
    border-left : 5px solid red;
    padding-left: 10px;
}

.task-container {
    margin-left:auto;
    margin-right: auto;
    border : 1px solid grey;
    width : 65%;
    padding : 10px;
    margin-bottom : 10px;
    background-color : yellow;
    border-radius: 25px;
}

.grid-container {
    display : grid;
    grid-template-columns: auto auto;
}
.grid-item-remove {
    margin:10px;
    margin-left:auto;
}

.grid-item-remove:hover {
    color : red;
    transition: .3s;
}

.close-button {
    background-color : red;
    color: white;
    border:none;
    border-radius: 20px;
}
.close-button:hover {
    background-color: orange;
    transition: .2s;
}

.task-container:hover {
    width: 70%;
    transition: .5s;
    box-shadow: 5px 5px 10px red;
}

.todo-body {
    border-bottom:1px solid red;
}

.todo-date {
    margin-left:70;
}

.todo-done {
    border-bottom:1px solid red;
}
.todo-duration {
    border-bottom:1px solid red;
}

.edit-btn {
    background-color:grey;
    border-radius: 25px;
    border:none;
    margin-left : 95%;
}
.edit-btn:hover {
    background-color: green;
    color: white;
    transition: .4s;
}
.save-btn {
    display:none;
    background-color:green;
    border-radius: 25px;
    border:none;
}

.cancle-btn {
    background-color: red;
    color : white;
    margin-left:auto;
    border:none;
    display:none;
}

.stopwatch-btn {
    background-color:green;
    border:none;
    border-radius: 10px;
    margin-left:auto;
    color : white;
}
.stopwatch-btn:hover {
    background-color: #a1fc03;
    transition: .3s;
}
.duration-grid {
    display:grid;
    grid-template-columns: auto auto;
    padding:10px;
}

.base-timer__path-remaining {
    /* Just as thick as the original ring */
    stroke-width: 7px;
  
    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;
  
    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;
  
    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;
  
    /* Allows the ring to change color when the color value updates */
    stroke: currentColor;
  }
  